<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <add key="IgnoredDNs" value="002024"/>
    <add key="LogFile" value="C:\Users\rafael\OneDrive\Ambiente de Trabalho\CleanDN-v1.1.log"/>
    <add key="FolderToProcessFiles" value="C:\Users\rafael\OneDrive\Ambiente de Trabalho\"/>
    <add key="FolderToResultedFiles" value="C:\Users\rafael\OneDrive\Ambiente de Trabalho\Falta Processar\"/>
    <add key="FileToProcess" value="BCFI62.LHDIF"/>
    <add key="MaxValue" value="999999999.99"/>
  </appSettings>
</configuration>